.page {
  background-image: url("../public/images/FlappyFondo.png");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  flex-direction: column; /* Elementos en columna */
}
